<!DOCTYPE html>
<html>
<head>
	<title>MPV пульт</title>
	<style type="text/css">
		*{
			margin: 0px;
			padding: 0px;
		}
		.space{
			border: 5px solid black;
			border-radius: 10px;
			width: 80%;
			text-align: center;	
			font-size: 60px;
			padding-top: 20px;
			padding-bottom: 20px;
			margin-top: 100px;
		}
		.Row {
		    display: table;
		    width: 100%; /*Optional*/
		    table-layout: fixed; /*Optional*/
		    margin-top:40px; 
		}
		.Column {
		    display: table-cell;
		    width: 35%;
		    border: 5px solid black;
			border-radius: 10px;
			text-align: center;	
			font-size: 60px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		.bias {
		    display: table-cell;
		    width: 10%;
		}
		#sub_panel{
			display: none;
		}
	</style>
	<script type="text/javascript">
		function change_dir(dir){
			return function(){
				const requestOptions = {
					method: 'POST',
					headers: { 'Content-Type': 'application/json'},
					mode: 'cors',
					body: JSON.stringify({dir:dir})
				};
				fetch("changedir/",requestOptions).then(res=> res.json()).then(data=>{
					if (data.type ==='dir'){
						document.getElementById("sub_panel2").innerHTML="";
						const requestOptions2 = {
							method: 'POST',
							headers: { 'Content-Type': 'application/json'},
							mode: 'cors'
						};
						fetch("getdirs/",requestOptions2).then(res=> res.json()).then(data=>{
							dirs = data.dirs;
							for(var i=0;i<dirs.length;i++){
								if (dirs[i][0]!=='.'){
									const newDiv = document.createElement("div");
									newDiv.innerHTML = '📁';
									newDiv.classList.add("space");
									newDiv.onclick = change_dir(dirs[i]);
									const newContent = document.createTextNode(dirs[i]);
									newDiv.appendChild(newContent);
									const currentDiv = document.getElementById("sub_panel2");
									currentDiv.appendChild(newDiv);
								}
							}
							files = data.files;
							for(var i=0;i<files.length;i++){
								if (files[i][0]!=='.'){
									const newDiv = document.createElement("div");
									if (files[i].substr(files[i].length-4)==='.ass' || files[i].substr(files[i].length-4)==='.srt' )
										newDiv.innerHTML = '📜';
									else
										newDiv.innerHTML = '📄';
									newDiv.classList.add("space");
									newDiv.onclick = change_dir(files[i]);
									const newContent = document.createTextNode(files[i]);
									newDiv.appendChild(newContent);
									const currentDiv = document.getElementById("sub_panel2");
									currentDiv.appendChild(newDiv);
								}
							}
						});
					}else{
						panel();
					}
				});
			};
		}
		
		function command(com){
			const requestOptions = {
				method: 'POST',
				headers: { 'Content-Type': 'application/json'},
				body: JSON.stringify({'command':com}),
				mode: 'cors'
			};
			fetch("command/",requestOptions);
		}
		function sub_panel(){
			document.getElementById("sub_panel").style.display = "inline";
			document.getElementById("panel").style.display = "none";
			const requestOptions = {
				method: 'POST',
				headers: { 'Content-Type': 'application/json'},
				mode: 'cors'
			};
			fetch("getdirs/",requestOptions).then(res=> res.json()).then(data=>{
				dirs = data.dirs;
				document.getElementById("sub_panel2").innerHTML="";
				for(var i=0;i<dirs.length;i++){
					if (dirs[i][0]!=='.'){
						const newDiv = document.createElement("div");
						newDiv.innerHTML = '📁';
						newDiv.classList.add("space");
						newDiv.onclick = change_dir(dirs[i]);
						const newContent = document.createTextNode(dirs[i]);
						newDiv.appendChild(newContent);
						const currentDiv = document.getElementById("sub_panel2");
						currentDiv.appendChild(newDiv);
					}
				}
				files = data.files;
				for(var i=0;i<files.length;i++){
					if (files[i][0]!=='.'){
						const newDiv = document.createElement("div");
						if (files[i].substr(files[i].length-4)==='.ass' || files[i].substr(files[i].length-4)==='.srt' )
							newDiv.innerHTML = '📜';
						else
							newDiv.innerHTML = '📄';
						newDiv.classList.add("space");
						newDiv.onclick = change_dir(files[i]);
						const newContent = document.createTextNode(files[i]);
						newDiv.appendChild(newContent);
						const currentDiv = document.getElementById("sub_panel2");
						currentDiv.appendChild(newDiv);
					}
				}
			});
		}
		function panel(){
			document.getElementById("sub_panel").style.display = "none";
			document.getElementById("panel").style.display = "inline";
		}
	</script>
</head>
<body>
	<div id="panel">
		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column" onclick="command('sub')">Subs</div>
			<div class="bias"></div>
			<div class="Column" onclick="command('audio')">Audio</div>
			<div class="bias"></div>
		</div>

		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column" onclick="command('speed-')">-speed</div>
			<div class="bias"></div>
			<div class="Column" onclick="command('speed+')">+speed</div>
			<div class="bias"></div>
		</div>

		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column" onclick="command('-10s')">-10s</div>
			<div class="bias"></div>
			<div class="Column" onclick="command('+10s')">+10s</div>
			<div class="bias"></div>
		</div>

		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column" onclick="command('-min')">-min</div>
			<div class="bias"></div>
			<div class="Column" onclick="command('+min')">+min</div>
			<div class="bias"></div>
		</div>

		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column" onclick="command('back')">prev</div>
			<div class="bias"></div>
			<div class="Column" onclick="command('forward')">next</div>
			<div class="bias"></div>
		</div>

		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column" onclick="command('volumedown')">-audio</div>
			<div class="bias"></div>
			<div class="Column" onclick="command('volumeup')">+audio</div>
			<div class="bias"></div>
		</div>

	 	<div align="center">	
			<div class="space" onclick="command('space')"> play/stop </div>
		</div>

		<div align="center">	
			<div class="space" onclick="sub_panel()"> sub from file </div>
		</div>
	</div>
	<div id="sub_panel" align="center">
			<div class="space" onclick="panel()"> 🏠 </div>
			<div class="space" onclick='change_dir("..")()'>..</div>
			<div id="sub_panel2"></div>
	</div>
</div>
</body>
</html>