<!DOCTYPE html>
<html>
<head>
	<title>MPV remote</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'remote/styles.css' %}">
	<script type="text/javascript">
		function command(com){
			const requestOptions = {
				method: 'POST',
				headers: { 'Content-Type': 'application/json'},
				body: JSON.stringify({'command':com}),
				mode: 'cors'
			};
			fetch("command/",requestOptions);
		}
	</script>
</head>
<body>
	<div>
		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('sub')">Subs</div>
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('audio')">Audio</div>
			<div class="bias"></div>
		</div>

		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('speed-')">-speed</div>
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('speed+')">+speed</div>
			<div class="bias"></div>
		</div>

		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('-10s')">-10s</div>
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('+10s')">+10s</div>
			<div class="bias"></div>
		</div>

		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('-min')">-min</div>
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('+min')">+min</div>
			<div class="bias"></div>
		</div>

		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('back')">prev</div>
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('forward')">next</div>
			<div class="bias"></div>
		</div>

		<div class="Row" align="center">
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('volumedown')">-audio</div>
			<div class="bias"></div>
			<div class="Column noselect" onclick="command('volumeup')">+audio</div>
			<div class="bias"></div>
		</div>

		<div align="center">	
			<div class="space noselect" onclick="command('f')"> full screen </div>
		</div>

	 	<div align="center">	
			<div class="space noselect" onclick="command('space')"> play/stop </div>
		</div>

		<div align="center">	
			<div class="space noselect" onclick="window.location.href='subs'"> sub from file </div>
		</div>
		<div align="center">	
			<div class="space noselect" onclick="window.location.href='media'"> open video file </div>
		</div>
	</div>
</div>
</body>
</html>
